# My code requires python 3.9 for dictionary union operator
# lpips requires python >= 3.8
stable_diffusion_jax @ git+https://github.com/patil-suraj/stable-diffusion-jax.git@47297f53bb4907f119079654310bfb14134c2714
vqgan-jax @ git+https://github.com/patil-suraj/vqgan-jax.git@10ef240f8ace869e437f3c32d14898f61512db12
vit-vqgan @ git+https://github.com/patil-suraj/vit-vqgan.git@6dce733329541129f0d60cdce2487a340e726abf
lpips-j @ git+https://github.com/pcuenca/lpips-j.git@346edee27d373d4b19265e33cb588ca17a189cb1
stable_diffusion_jax @ git+https://github.com/patil-suraj/stable-diffusion-jax.git@47297f53bb4907f119079654310bfb14134c2714
datasets~=2.4.0
flax~=0.5.3
optax~=0.1.3
Pillow~=9.2.0
wandb
# install these yourself
#torch
#torchvision
#jax==0.3.16
# diffusers # this is required because stable-diffusion-jax imports it
# jax[cuda] -f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
